@font-face {
  font-family: 'kangarooIcons';
  src:  url('fonts/kangarooIcons.eot?9apdnb');
  src:  url('fonts/kangarooIcons.eot?9apdnb#iefix') format('embedded-opentype'),
    url('fonts/kangarooIcons.ttf?9apdnb') format('truetype'),
    url('fonts/kangarooIcons.woff?9apdnb') format('woff'),
    url('fonts/kangarooIcons.svg?9apdnb#kangarooIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kangarooIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-address-book:before {
  content: "\e900";
}
.fa-address-card:before {
  content: "\e901";
}
.fa-arrow-alt-circle-down:before {
  content: "\e902";
}
.fa-arrow-alt-circle-left:before {
  content: "\e903";
}
.fa-arrow-alt-circle-right:before {
  content: "\e904";
}
.fa-arrow-alt-circle-up:before {
  content: "\e905";
}
.fa-bell:before {
  content: "\e906";
}
.fa-bell-slash:before {
  content: "\e907";
}
.fa-bookmark:before {
  content: "\e908";
}
.fa-building:before {
  content: "\e909";
}
.fa-calendar:before {
  content: "\e90a";
}
.fa-calendar-alt:before {
  content: "\e90b";
}
.fa-calendar-check:before {
  content: "\e90c";
}
.fa-calendar-minus:before {
  content: "\e90d";
}
.fa-calendar-plus:before {
  content: "\e90e";
}
.fa-calendar-times:before {
  content: "\e90f";
}
.fa-caret-square-down:before {
  content: "\e910";
}
.fa-caret-square-left:before {
  content: "\e911";
}
.fa-caret-square-right:before {
  content: "\e912";
}
.fa-caret-square-up:before {
  content: "\e913";
}
.fa-chart-bar:before {
  content: "\e914";
}
.fa-check-circle:before {
  content: "\e915";
}
.fa-check-square:before {
  content: "\e916";
}
.fa-circle:before {
  content: "\e917";
}
.fa-clipboard:before {
  content: "\e918";
}
.fa-clock:before {
  content: "\e919";
}
.fa-clone:before {
  content: "\e91a";
}
.fa-closed-captioning:before {
  content: "\e91b";
}
.fa-comment:before {
  content: "\e91c";
}
.fa-comment-alt:before {
  content: "\e91d";
}
.fa-comments:before {
  content: "\e91e";
}
.fa-compass:before {
  content: "\e91f";
}
.fa-copy:before {
  content: "\e920";
}
.fa-copyright:before {
  content: "\e921";
}
.fa-credit-card:before {
  content: "\e922";
}
.fa-dot-circle:before {
  content: "\e923";
}
.fa-edit:before {
  content: "\e924";
}
.fa-envelope:before {
  content: "\e925";
}
.fa-envelope-open:before {
  content: "\e926";
}
.fa-eye-slash:before {
  content: "\e927";
}
.fa-file:before {
  content: "\e928";
}
.fa-file-alt:before {
  content: "\e929";
}
.fa-file-archive:before {
  content: "\e92a";
}
.fa-file-audio:before {
  content: "\e92b";
}
.fa-file-code:before {
  content: "\e92c";
}
.fa-file-excel:before {
  content: "\e92d";
}
.fa-file-image:before {
  content: "\e92e";
}
.fa-file-pdf:before {
  content: "\e92f";
}
.fa-file-powerpoint:before {
  content: "\e930";
}
.fa-file-video:before {
  content: "\e931";
}
.fa-file-word:before {
  content: "\e932";
}
.fa-flag:before {
  content: "\e933";
}
.fa-folder:before {
  content: "\e934";
}
.fa-folder-open:before {
  content: "\e935";
}
.fa-frown:before {
  content: "\e936";
}
.fa-futbol:before {
  content: "\e937";
}
.fa-gem:before {
  content: "\e938";
}
.fa-hand-lizard:before {
  content: "\e939";
}
.fa-hand-paper:before {
  content: "\e93a";
}
.fa-hand-peace:before {
  content: "\e93b";
}
.fa-hand-point-down:before {
  content: "\e93c";
}
.fa-hand-pointer:before {
  content: "\e93d";
}
.fa-hand-point-left:before {
  content: "\e93e";
}
.fa-hand-point-right:before {
  content: "\e93f";
}
.fa-hand-point-up:before {
  content: "\e940";
}
.fa-hand-rock:before {
  content: "\e941";
}
.fa-hand-scissors:before {
  content: "\e942";
}
.fa-handshake:before {
  content: "\e943";
}
.fa-hand-spock:before {
  content: "\e944";
}
.fa-hdd:before {
  content: "\e945";
}
.fa-heart:before {
  content: "\e946";
}
.fa-hospital:before {
  content: "\e947";
}
.fa-hourglass:before {
  content: "\e948";
}
.fa-id-badge:before {
  content: "\e949";
}
.fa-id-card:before {
  content: "\e94a";
}
.fa-image:before {
  content: "\e94b";
}
.fa-images:before {
  content: "\e94c";
}
.fa-keyboard:before {
  content: "\e94d";
}
.fa-lemon:before {
  content: "\e94e";
}
.fa-life-ring:before {
  content: "\e94f";
}
.fa-lightbulb:before {
  content: "\e950";
}
.fa-list-alt:before {
  content: "\e951";
}
.fa-map:before {
  content: "\e952";
}
.fa-meh:before {
  content: "\e953";
}
.fa-minus-square:before {
  content: "\e954";
}
.fa-money-bill-alt:before {
  content: "\e955";
}
.fa-moon:before {
  content: "\e956";
}
.fa-newspaper:before {
  content: "\e957";
}
.fa-object-group:before {
  content: "\e958";
}
.fa-object-ungroup:before {
  content: "\e959";
}
.fa-paper-plane:before {
  content: "\e95a";
}
.fa-pause-circle:before {
  content: "\e95b";
}
.fa-play-circle:before {
  content: "\e95c";
}
.fa-plus-square:before {
  content: "\e95d";
}
.fa-question-circle:before {
  content: "\e95e";
}
.fa-registered:before {
  content: "\e95f";
}
.fa-save:before {
  content: "\e960";
}
.fa-share-square:before {
  content: "\e961";
}
.fa-smile:before {
  content: "\e962";
}
.fa-snowflake:before {
  content: "\e963";
}
.fa-square:before {
  content: "\e964";
}
.fa-star:before {
  content: "\e965";
}
.fa-star-half:before {
  content: "\e966";
}
.fa-sticky-note:before {
  content: "\e967";
}
.fa-stop-circle:before {
  content: "\e968";
}
.fa-sun:before {
  content: "\e969";
}
.fa-thumbs-down:before {
  content: "\e96a";
}
.fa-thumbs-up:before {
  content: "\e96b";
}
.fa-times-circle:before {
  content: "\e96c";
}
.fa-trash-alt:before {
  content: "\e96d";
}
.fa-user:before {
  content: "\e96e";
}
.fa-user-circle:before {
  content: "\e96f";
}
.fa-window-close:before {
  content: "\e970";
}
.fa-window-maximize:before {
  content: "\e971";
}
.fa-window-minimize:before {
  content: "\e972";
}
.fa-window-restore:before {
  content: "\e973";
}
.fa-address-book2:before {
  content: "\e974";
}
.fa-address-card2:before {
  content: "\e975";
}
.fa-adjust:before {
  content: "\e976";
}
.fa-align-center:before {
  content: "\e977";
}
.fa-align-justify:before {
  content: "\e978";
}
.fa-align-left:before {
  content: "\e979";
}
.fa-align-right:before {
  content: "\e97a";
}
.fa-ambulance:before {
  content: "\e97b";
}
.fa-american-sign-language-interpreting:before {
  content: "\e97c";
}
.fa-anchor:before {
  content: "\e97d";
}
.fa-angle-double-down:before {
  content: "\e97e";
}
.fa-angle-double-left:before {
  content: "\e97f";
}
.fa-angle-double-right:before {
  content: "\e980";
}
.fa-angle-double-up:before {
  content: "\e981";
}
.fa-angle-down:before {
  content: "\e982";
}
.fa-angle-left:before {
  content: "\e983";
}
.fa-angle-right:before {
  content: "\e984";
}
.fa-angle-up:before {
  content: "\e985";
}
.fa-archive:before {
  content: "\e986";
}
.fa-arrow-alt-circle-down2:before {
  content: "\e987";
}
.fa-arrow-alt-circle-left2:before {
  content: "\e988";
}
.fa-arrow-alt-circle-right2:before {
  content: "\e989";
}
.fa-arrow-alt-circle-up2:before {
  content: "\e98a";
}
.fa-arrow-circle-down:before {
  content: "\e98b";
}
.fa-arrow-circle-left:before {
  content: "\e98c";
}
.fa-arrow-circle-right:before {
  content: "\e98d";
}
.fa-arrow-circle-up:before {
  content: "\e98e";
}
.fa-arrow-down:before {
  content: "\e98f";
}
.fa-arrow-left:before {
  content: "\e990";
}
.fa-arrow-right:before {
  content: "\e991";
}
.fa-arrows-alt:before {
  content: "\e992";
}
.fa-arrows-alt-h:before {
  content: "\e993";
}
.fa-arrows-alt-v:before {
  content: "\e994";
}
.fa-arrow-up:before {
  content: "\e995";
}
.fa-assistive-listening-systems:before {
  content: "\e996";
}
.fa-asterisk:before {
  content: "\e997";
}
.fa-at:before {
  content: "\e998";
}
.fa-audio-description:before {
  content: "\e999";
}
.fa-backward:before {
  content: "\e99a";
}
.fa-balance-scale:before {
  content: "\e99b";
}
.fa-ban:before {
  content: "\e99c";
}
.fa-barcode:before {
  content: "\e99d";
}
.fa-bars:before {
  content: "\e99e";
}
.fa-baseball-ball:before {
  content: "\e99f";
}
.fa-basketball-ball:before {
  content: "\e9a0";
}
.fa-bath:before {
  content: "\e9a1";
}
.fa-battery-empty:before {
  content: "\e9a2";
}
.fa-battery-full:before {
  content: "\e9a3";
}
.fa-battery-half:before {
  content: "\e9a4";
}
.fa-battery-quarter:before {
  content: "\e9a5";
}
.fa-battery-three-quarters:before {
  content: "\e9a6";
}
.fa-bed:before {
  content: "\e9a7";
}
.fa-beer:before {
  content: "\e9a8";
}
.fa-bell2:before {
  content: "\e9a9";
}
.fa-bell-slash2:before {
  content: "\e9aa";
}
.fa-bicycle:before {
  content: "\e9ab";
}
.fa-binoculars:before {
  content: "\e9ac";
}
.fa-birthday-cake:before {
  content: "\e9ad";
}
.fa-blind:before {
  content: "\e9ae";
}
.fa-bold:before {
  content: "\e9af";
}
.fa-bolt:before {
  content: "\e9b0";
}
.fa-bomb:before {
  content: "\e9b1";
}
.fa-book:before {
  content: "\e9b2";
}
.fa-bookmark2:before {
  content: "\e9b3";
}
.fa-bowling-ball:before {
  content: "\e9b4";
}
.fa-braille:before {
  content: "\e9b5";
}
.fa-briefcase:before {
  content: "\e9b6";
}
.fa-bug:before {
  content: "\e9b7";
}
.fa-building2:before {
  content: "\e9b8";
}
.fa-bullhorn:before {
  content: "\e9b9";
}
.fa-bullseye:before {
  content: "\e9ba";
}
.fa-bus:before {
  content: "\e9bb";
}
.fa-calculator:before {
  content: "\e9bc";
}
.fa-calendar2:before {
  content: "\e9bd";
}
.fa-calendar-alt2:before {
  content: "\e9be";
}
.fa-calendar-check2:before {
  content: "\e9bf";
}
.fa-calendar-minus2:before {
  content: "\e9c0";
}
.fa-calendar-plus2:before {
  content: "\e9c1";
}
.fa-calendar-times2:before {
  content: "\e9c2";
}
.fa-camera:before {
  content: "\e9c3";
}
.fa-camera-retro:before {
  content: "\e9c4";
}
.fa-car:before {
  content: "\e9c5";
}
.fa-caret-down:before {
  content: "\e9c6";
}
.fa-caret-left:before {
  content: "\e9c7";
}
.fa-caret-right:before {
  content: "\e9c8";
}
.fa-caret-square-down2:before {
  content: "\e9c9";
}
.fa-caret-square-left2:before {
  content: "\e9ca";
}
.fa-caret-square-right2:before {
  content: "\e9cb";
}
.fa-caret-square-up2:before {
  content: "\e9cc";
}
.fa-caret-up:before {
  content: "\e9cd";
}
.fa-cart-arrow-down:before {
  content: "\e9ce";
}
.fa-cart-plus:before {
  content: "\e9cf";
}
.fa-certificate:before {
  content: "\e9d0";
}
.fa-chart-area:before {
  content: "\e9d1";
}
.fa-chart-bar2:before {
  content: "\e9d2";
}
.fa-chart-line:before {
  content: "\e9d3";
}
.fa-chart-pie:before {
  content: "\e9d4";
}
.fa-check:before {
  content: "\e9d5";
}
.fa-check-circle2:before {
  content: "\e9d6";
}
.fa-check-square2:before {
  content: "\e9d7";
}
.fa-chess:before {
  content: "\e9d8";
}
.fa-chess-bishop:before {
  content: "\e9d9";
}
.fa-chess-board:before {
  content: "\e9da";
}
.fa-chess-king:before {
  content: "\e9db";
}
.fa-chess-knight:before {
  content: "\e9dc";
}
.fa-chess-pawn:before {
  content: "\e9dd";
}
.fa-chess-queen:before {
  content: "\e9de";
}
.fa-chess-rook:before {
  content: "\e9df";
}
.fa-chevron-circle-down:before {
  content: "\e9e0";
}
.fa-chevron-circle-left:before {
  content: "\e9e1";
}
.fa-chevron-circle-right:before {
  content: "\e9e2";
}
.fa-chevron-circle-up:before {
  content: "\e9e3";
}
.fa-chevron-down:before {
  content: "\e9e4";
}
.fa-chevron-left:before {
  content: "\e9e5";
}
.fa-chevron-right:before {
  content: "\e9e6";
}
.fa-chevron-up:before {
  content: "\e9e7";
}
.fa-child:before {
  content: "\e9e8";
}
.fa-circle2:before {
  content: "\e9e9";
}
.fa-circle-notch:before {
  content: "\e9ea";
}
.fa-clipboard2:before {
  content: "\e9eb";
}
.fa-clock2:before {
  content: "\e9ec";
}
.fa-clone2:before {
  content: "\e9ed";
}
.fa-closed-captioning2:before {
  content: "\e9ee";
}
.fa-cloud:before {
  content: "\e9ef";
}
.fa-cloud-download-alt:before {
  content: "\e9f0";
}
.fa-cloud-upload-alt:before {
  content: "\e9f1";
}
.fa-code:before {
  content: "\e9f2";
}
.fa-code-branch:before {
  content: "\e9f3";
}
.fa-coffee:before {
  content: "\e9f4";
}
.fa-cog:before {
  content: "\e9f5";
}
.fa-cogs:before {
  content: "\e9f6";
}
.fa-columns:before {
  content: "\e9f7";
}
.fa-comment2:before {
  content: "\e9f8";
}
.fa-comment-alt2:before {
  content: "\e9f9";
}
.fa-comments2:before {
  content: "\e9fa";
}
.fa-compass2:before {
  content: "\e9fb";
}
.fa-compress:before {
  content: "\e9fc";
}
.fa-copy2:before {
  content: "\e9fd";
}
.fa-copyright2:before {
  content: "\e9fe";
}
.fa-credit-card2:before {
  content: "\e9ff";
}
.fa-crop:before {
  content: "\ea00";
}
.fa-crosshairs:before {
  content: "\ea01";
}
.fa-cube:before {
  content: "\ea02";
}
.fa-cubes:before {
  content: "\ea03";
}
.fa-cut:before {
  content: "\ea04";
}
.fa-database:before {
  content: "\ea05";
}
.fa-deaf:before {
  content: "\ea06";
}
.fa-desktop:before {
  content: "\ea07";
}
.fa-dollar-sign:before {
  content: "\ea08";
}
.fa-dot-circle2:before {
  content: "\ea09";
}
.fa-download:before {
  content: "\ea0a";
}
.fa-edit2:before {
  content: "\ea0b";
}
.fa-eject:before {
  content: "\ea0c";
}
.fa-ellipsis-h:before {
  content: "\ea0d";
}
.fa-ellipsis-v:before {
  content: "\ea0e";
}
.fa-envelope2:before {
  content: "\ea0f";
}
.fa-envelope-open2:before {
  content: "\ea10";
}
.fa-envelope-square:before {
  content: "\ea11";
}
.fa-eraser:before {
  content: "\ea12";
}
.fa-euro-sign:before {
  content: "\ea13";
}
.fa-exchange-alt:before {
  content: "\ea14";
}
.fa-exclamation:before {
  content: "\ea15";
}
.fa-exclamation-circle:before {
  content: "\ea16";
}
.fa-exclamation-triangle:before {
  content: "\ea17";
}
.fa-expand:before {
  content: "\ea18";
}
.fa-expand-arrows-alt:before {
  content: "\ea19";
}
.fa-external-link-alt:before {
  content: "\ea1a";
}
.fa-external-link-square-alt:before {
  content: "\ea1b";
}
.fa-eye:before {
  content: "\ea1c";
}
.fa-eye-dropper:before {
  content: "\ea1d";
}
.fa-eye-slash2:before {
  content: "\ea1e";
}
.fa-fast-backward:before {
  content: "\ea1f";
}
.fa-fast-forward:before {
  content: "\ea20";
}
.fa-fax:before {
  content: "\ea21";
}
.fa-female:before {
  content: "\ea22";
}
.fa-fighter-jet:before {
  content: "\ea23";
}
.fa-file2:before {
  content: "\ea24";
}
.fa-file-alt2:before {
  content: "\ea25";
}
.fa-file-archive2:before {
  content: "\ea26";
}
.fa-file-audio2:before {
  content: "\ea27";
}
.fa-file-code2:before {
  content: "\ea28";
}
.fa-file-excel2:before {
  content: "\ea29";
}
.fa-file-image2:before {
  content: "\ea2a";
}
.fa-file-pdf2:before {
  content: "\ea2b";
}
.fa-file-powerpoint2:before {
  content: "\ea2c";
}
.fa-file-video2:before {
  content: "\ea2d";
}
.fa-file-word2:before {
  content: "\ea2e";
}
.fa-film:before {
  content: "\ea2f";
}
.fa-filter:before {
  content: "\ea30";
}
.fa-fire:before {
  content: "\ea31";
}
.fa-fire-extinguisher:before {
  content: "\ea32";
}
.fa-flag2:before {
  content: "\ea33";
}
.fa-flag-checkered:before {
  content: "\ea34";
}
.fa-flask:before {
  content: "\ea35";
}
.fa-folder2:before {
  content: "\ea36";
}
.fa-folder-open2:before {
  content: "\ea37";
}
.fa-font:before {
  content: "\ea38";
}
.fa-football-ball:before {
  content: "\ea39";
}
.fa-forward:before {
  content: "\ea3a";
}
.fa-frown2:before {
  content: "\ea3b";
}
.fa-futbol2:before {
  content: "\ea3c";
}
.fa-gamepad:before {
  content: "\ea3d";
}
.fa-gavel:before {
  content: "\ea3e";
}
.fa-gem2:before {
  content: "\ea3f";
}
.fa-genderless:before {
  content: "\ea40";
}
.fa-gift:before {
  content: "\ea41";
}
.fa-glass-martini:before {
  content: "\ea42";
}
.fa-globe:before {
  content: "\ea43";
}
.fa-golf-ball:before {
  content: "\ea44";
}
.fa-graduation-cap:before {
  content: "\ea45";
}
.fa-hand-lizard2:before {
  content: "\ea46";
}
.fa-hand-paper2:before {
  content: "\ea47";
}
.fa-hand-peace2:before {
  content: "\ea48";
}
.fa-hand-point-down2:before {
  content: "\ea49";
}
.fa-hand-pointer2:before {
  content: "\ea4a";
}
.fa-hand-point-left2:before {
  content: "\ea4b";
}
.fa-hand-point-right2:before {
  content: "\ea4c";
}
.fa-hand-point-up2:before {
  content: "\ea4d";
}
.fa-hand-rock2:before {
  content: "\ea4e";
}
.fa-hand-scissors2:before {
  content: "\ea4f";
}
.fa-handshake2:before {
  content: "\ea50";
}
.fa-hand-spock2:before {
  content: "\ea51";
}
.fa-hashtag:before {
  content: "\ea52";
}
.fa-hdd2:before {
  content: "\ea53";
}
.fa-heading:before {
  content: "\ea54";
}
.fa-headphones:before {
  content: "\ea55";
}
.fa-heart2:before {
  content: "\ea56";
}
.fa-heartbeat:before {
  content: "\ea57";
}
.fa-history:before {
  content: "\ea58";
}
.fa-hockey-puck:before {
  content: "\ea59";
}
.fa-home:before {
  content: "\ea5a";
}
.fa-hospital2:before {
  content: "\ea5b";
}
.fa-hourglass2:before {
  content: "\ea5c";
}
.fa-hourglass-end:before {
  content: "\ea5d";
}
.fa-hourglass-half:before {
  content: "\ea5e";
}
.fa-hourglass-start:before {
  content: "\ea5f";
}
.fa-h-square:before {
  content: "\ea60";
}
.fa-i-cursor:before {
  content: "\ea61";
}
.fa-id-badge2:before {
  content: "\ea62";
}
.fa-id-card2:before {
  content: "\ea63";
}
.fa-image2:before {
  content: "\ea64";
}
.fa-images2:before {
  content: "\ea65";
}
.fa-inbox:before {
  content: "\ea66";
}
.fa-indent:before {
  content: "\ea67";
}
.fa-industry:before {
  content: "\ea68";
}
.fa-info:before {
  content: "\ea69";
}
.fa-info-circle:before {
  content: "\ea6a";
}
.fa-italic:before {
  content: "\ea6b";
}
.fa-key:before {
  content: "\ea6c";
}
.fa-keyboard2:before {
  content: "\ea6d";
}
.fa-language:before {
  content: "\ea6e";
}
.fa-laptop:before {
  content: "\ea6f";
}
.fa-leaf:before {
  content: "\ea70";
}
.fa-lemon2:before {
  content: "\ea71";
}
.fa-level-down-alt:before {
  content: "\ea72";
}
.fa-level-up-alt:before {
  content: "\ea73";
}
.fa-life-ring2:before {
  content: "\ea74";
}
.fa-lightbulb2:before {
  content: "\ea75";
}
.fa-link:before {
  content: "\ea76";
}
.fa-lira-sign:before {
  content: "\ea77";
}
.fa-list:before {
  content: "\ea78";
}
.fa-list-alt2:before {
  content: "\ea79";
}
.fa-list-ol:before {
  content: "\ea7a";
}
.fa-list-ul:before {
  content: "\ea7b";
}
.fa-location-arrow:before {
  content: "\ea7c";
}
.fa-lock:before {
  content: "\ea7d";
}
.fa-lock-open:before {
  content: "\ea7e";
}
.fa-long-arrow-alt-down:before {
  content: "\ea7f";
}
.fa-long-arrow-alt-left:before {
  content: "\ea80";
}
.fa-long-arrow-alt-right:before {
  content: "\ea81";
}
.fa-long-arrow-alt-up:before {
  content: "\ea82";
}
.fa-low-vision:before {
  content: "\ea83";
}
.fa-magic:before {
  content: "\ea84";
}
.fa-magnet:before {
  content: "\ea85";
}
.fa-male:before {
  content: "\ea86";
}
.fa-map2:before {
  content: "\ea87";
}
.fa-map-marker:before {
  content: "\ea88";
}
.fa-map-marker-alt:before {
  content: "\ea89";
}
.fa-map-pin:before {
  content: "\ea8a";
}
.fa-map-signs:before {
  content: "\ea8b";
}
.fa-mars:before {
  content: "\ea8c";
}
.fa-mars-double:before {
  content: "\ea8d";
}
.fa-mars-stroke:before {
  content: "\ea8e";
}
.fa-mars-stroke-h:before {
  content: "\ea8f";
}
.fa-mars-stroke-v:before {
  content: "\ea90";
}
.fa-medkit:before {
  content: "\ea91";
}
.fa-meh2:before {
  content: "\ea92";
}
.fa-mercury:before {
  content: "\ea93";
}
.fa-microchip:before {
  content: "\ea94";
}
.fa-microphone:before {
  content: "\ea95";
}
.fa-microphone-slash:before {
  content: "\ea96";
}
.fa-minus:before {
  content: "\ea97";
}
.fa-minus-circle:before {
  content: "\ea98";
}
.fa-minus-square2:before {
  content: "\ea99";
}
.fa-mobile:before {
  content: "\ea9a";
}
.fa-mobile-alt:before {
  content: "\ea9b";
}
.fa-money-bill-alt2:before {
  content: "\ea9c";
}
.fa-moon2:before {
  content: "\ea9d";
}
.fa-motorcycle:before {
  content: "\ea9e";
}
.fa-mouse-pointer:before {
  content: "\ea9f";
}
.fa-music:before {
  content: "\eaa0";
}
.fa-neuter:before {
  content: "\eaa1";
}
.fa-newspaper2:before {
  content: "\eaa2";
}
.fa-object-group2:before {
  content: "\eaa3";
}
.fa-object-ungroup2:before {
  content: "\eaa4";
}
.fa-outdent:before {
  content: "\eaa5";
}
.fa-paint-brush:before {
  content: "\eaa6";
}
.fa-paperclip:before {
  content: "\eaa7";
}
.fa-paper-plane2:before {
  content: "\eaa8";
}
.fa-paragraph:before {
  content: "\eaa9";
}
.fa-paste:before {
  content: "\eaaa";
}
.fa-pause:before {
  content: "\eaab";
}
.fa-pause-circle2:before {
  content: "\eaac";
}
.fa-paw:before {
  content: "\eaad";
}
.fa-pencil-alt:before {
  content: "\eaae";
}
.fa-pen-square:before {
  content: "\eaaf";
}
.fa-percent:before {
  content: "\eab0";
}
.fa-phone:before {
  content: "\eab1";
}
.fa-phone-square:before {
  content: "\eab2";
}
.fa-phone-volume:before {
  content: "\eab3";
}
.fa-plane:before {
  content: "\eab4";
}
.fa-play:before {
  content: "\eab5";
}
.fa-play-circle2:before {
  content: "\eab6";
}
.fa-plug:before {
  content: "\eab7";
}
.fa-plus:before {
  content: "\eab8";
}
.fa-plus-circle:before {
  content: "\eab9";
}
.fa-plus-square2:before {
  content: "\eaba";
}
.fa-podcast:before {
  content: "\eabb";
}
.fa-pound-sign:before {
  content: "\eabc";
}
.fa-power-off:before {
  content: "\eabd";
}
.fa-print:before {
  content: "\eabe";
}
.fa-puzzle-piece:before {
  content: "\eabf";
}
.fa-qrcode:before {
  content: "\eac0";
}
.fa-question:before {
  content: "\eac1";
}
.fa-question-circle2:before {
  content: "\eac2";
}
.fa-quidditch:before {
  content: "\eac3";
}
.fa-quote-left:before {
  content: "\eac4";
}
.fa-quote-right:before {
  content: "\eac5";
}
.fa-random:before {
  content: "\eac6";
}
.fa-recycle:before {
  content: "\eac7";
}
.fa-redo:before {
  content: "\eac8";
}
.fa-redo-alt:before {
  content: "\eac9";
}
.fa-registered2:before {
  content: "\eaca";
}
.fa-reply:before {
  content: "\eacb";
}
.fa-reply-all:before {
  content: "\eacc";
}
.fa-retweet:before {
  content: "\eacd";
}
.fa-road:before {
  content: "\eace";
}
.fa-rocket:before {
  content: "\eacf";
}
.fa-rss:before {
  content: "\ead0";
}
.fa-rss-square:before {
  content: "\ead1";
}
.fa-ruble-sign:before {
  content: "\ead2";
}
.fa-rupee-sign:before {
  content: "\ead3";
}
.fa-save2:before {
  content: "\ead4";
}
.fa-search:before {
  content: "\ead5";
}
.fa-search-minus:before {
  content: "\ead6";
}
.fa-search-plus:before {
  content: "\ead7";
}
.fa-server:before {
  content: "\ead8";
}
.fa-share:before {
  content: "\ead9";
}
.fa-share-alt:before {
  content: "\eada";
}
.fa-share-alt-square:before {
  content: "\eadb";
}
.fa-share-square2:before {
  content: "\eadc";
}
.fa-shekel-sign:before {
  content: "\eadd";
}
.fa-shield-alt:before {
  content: "\eade";
}
.fa-ship:before {
  content: "\eadf";
}
.fa-shopping-bag:before {
  content: "\eae0";
}
.fa-shopping-basket:before {
  content: "\eae1";
}
.fa-shopping-cart:before {
  content: "\eae2";
}
.fa-shower:before {
  content: "\eae3";
}
.fa-signal:before {
  content: "\eae4";
}
.fa-sign-in-alt:before {
  content: "\eae5";
}
.fa-sign-language:before {
  content: "\eae6";
}
.fa-sign-out-alt:before {
  content: "\eae7";
}
.fa-sitemap:before {
  content: "\eae8";
}
.fa-sliders-h:before {
  content: "\eae9";
}
.fa-smile2:before {
  content: "\eaea";
}
.fa-snowflake2:before {
  content: "\eaeb";
}
.fa-sort:before {
  content: "\eaec";
}
.fa-sort-alpha-down:before {
  content: "\eaed";
}
.fa-sort-alpha-up:before {
  content: "\eaee";
}
.fa-sort-amount-down:before {
  content: "\eaef";
}
.fa-sort-amount-up:before {
  content: "\eaf0";
}
.fa-sort-down:before {
  content: "\eaf1";
}
.fa-sort-numeric-down:before {
  content: "\eaf2";
}
.fa-sort-numeric-up:before {
  content: "\eaf3";
}
.fa-sort-up:before {
  content: "\eaf4";
}
.fa-space-shuttle:before {
  content: "\eaf5";
}
.fa-spinner:before {
  content: "\eaf6";
}
.fa-square2:before {
  content: "\eaf7";
}
.fa-square-full:before {
  content: "\eaf8";
}
.fa-star2:before {
  content: "\eaf9";
}
.fa-star-half2:before {
  content: "\eafa";
}
.fa-step-backward:before {
  content: "\eafb";
}
.fa-step-forward:before {
  content: "\eafc";
}
.fa-stethoscope:before {
  content: "\eafd";
}
.fa-sticky-note2:before {
  content: "\eafe";
}
.fa-stop:before {
  content: "\eaff";
}
.fa-stop-circle2:before {
  content: "\eb00";
}
.fa-stopwatch:before {
  content: "\eb01";
}
.fa-street-view:before {
  content: "\eb02";
}
.fa-strikethrough:before {
  content: "\eb03";
}
.fa-subscript:before {
  content: "\eb04";
}
.fa-subway:before {
  content: "\eb05";
}
.fa-suitcase:before {
  content: "\eb06";
}
.fa-sun2:before {
  content: "\eb07";
}
.fa-superscript:before {
  content: "\eb08";
}
.fa-sync:before {
  content: "\eb09";
}
.fa-sync-alt:before {
  content: "\eb0a";
}
.fa-table:before {
  content: "\eb0b";
}
.fa-tablet:before {
  content: "\eb0c";
}
.fa-tablet-alt:before {
  content: "\eb0d";
}
.fa-table-tennis:before {
  content: "\eb0e";
}
.fa-tachometer-alt:before {
  content: "\eb0f";
}
.fa-tag:before {
  content: "\eb10";
}
.fa-tags:before {
  content: "\eb11";
}
.fa-tasks:before {
  content: "\eb12";
}
.fa-taxi:before {
  content: "\eb13";
}
.fa-terminal:before {
  content: "\eb14";
}
.fa-text-height:before {
  content: "\eb15";
}
.fa-text-width:before {
  content: "\eb16";
}
.fa-th:before {
  content: "\eb17";
}
.fa-thermometer-empty:before {
  content: "\eb18";
}
.fa-thermometer-full:before {
  content: "\eb19";
}
.fa-thermometer-half:before {
  content: "\eb1a";
}
.fa-thermometer-quarter:before {
  content: "\eb1b";
}
.fa-thermometer-three-quarters:before {
  content: "\eb1c";
}
.fa-th-large:before {
  content: "\eb1d";
}
.fa-th-list:before {
  content: "\eb1e";
}
.fa-thumbs-down2:before {
  content: "\eb1f";
}
.fa-thumbs-up2:before {
  content: "\eb20";
}
.fa-thumbtack:before {
  content: "\eb21";
}
.fa-ticket-alt:before {
  content: "\eb22";
}
.fa-times:before {
  content: "\eb23";
}
.fa-times-circle2:before {
  content: "\eb24";
}
.fa-tint:before {
  content: "\eb25";
}
.fa-toggle-off:before {
  content: "\eb26";
}
.fa-toggle-on:before {
  content: "\eb27";
}
.fa-trademark:before {
  content: "\eb28";
}
.fa-train:before {
  content: "\eb29";
}
.fa-transgender:before {
  content: "\eb2a";
}
.fa-transgender-alt:before {
  content: "\eb2b";
}
.fa-trash:before {
  content: "\eb2c";
}
.fa-trash-alt2:before {
  content: "\eb2d";
}
.fa-tree:before {
  content: "\eb2e";
}
.fa-trophy:before {
  content: "\eb2f";
}
.fa-truck:before {
  content: "\eb30";
}
.fa-tty:before {
  content: "\eb31";
}
.fa-tv:before {
  content: "\eb32";
}
.fa-umbrella:before {
  content: "\eb33";
}
.fa-underline:before {
  content: "\eb34";
}
.fa-undo:before {
  content: "\eb35";
}
.fa-undo-alt:before {
  content: "\eb36";
}
.fa-universal-access:before {
  content: "\eb37";
}
.fa-university:before {
  content: "\eb38";
}
.fa-unlink:before {
  content: "\eb39";
}
.fa-unlock:before {
  content: "\eb3a";
}
.fa-unlock-alt:before {
  content: "\eb3b";
}
.fa-upload:before {
  content: "\eb3c";
}
.fa-user2:before {
  content: "\eb3d";
}
.fa-user-circle2:before {
  content: "\eb3e";
}
.fa-user-md:before {
  content: "\eb3f";
}
.fa-user-plus:before {
  content: "\eb40";
}
.fa-users:before {
  content: "\eb41";
}
.fa-user-secret:before {
  content: "\eb42";
}
.fa-user-times:before {
  content: "\eb43";
}
.fa-utensils:before {
  content: "\eb44";
}
.fa-utensil-spoon:before {
  content: "\eb45";
}
.fa-venus:before {
  content: "\eb46";
}
.fa-venus-double:before {
  content: "\eb47";
}
.fa-venus-mars:before {
  content: "\eb48";
}
.fa-video:before {
  content: "\eb49";
}
.fa-volleyball-ball:before {
  content: "\eb4a";
}
.fa-volume-down:before {
  content: "\eb4b";
}
.fa-volume-off:before {
  content: "\eb4c";
}
.fa-volume-up:before {
  content: "\eb4d";
}
.fa-wheelchair:before {
  content: "\eb4e";
}
.fa-wifi:before {
  content: "\eb4f";
}
.fa-window-close2:before {
  content: "\eb50";
}
.fa-window-maximize2:before {
  content: "\eb51";
}
.fa-window-minimize2:before {
  content: "\eb52";
}
.fa-window-restore2:before {
  content: "\eb53";
}
.fa-won-sign:before {
  content: "\eb54";
}
.fa-wrench:before {
  content: "\eb55";
}
.fa-yen-sign:before {
  content: "\eb56";
}
.fa-px:before {
  content: "\eb57";
}
.fa-accessible-icon:before {
  content: "\eb58";
}
.fa-accusoft:before {
  content: "\eb59";
}
.fa-adn:before {
  content: "\eb5a";
}
.fa-adversal:before {
  content: "\eb5b";
}
.fa-affiliatetheme:before {
  content: "\eb5c";
}
.fa-algolia:before {
  content: "\eb5d";
}
.fa-amazon:before {
  content: "\eb5e";
}
.fa-amazon-pay:before {
  content: "\eb5f";
}
.fa-amilia:before {
  content: "\eb60";
}
.fa-android:before {
  content: "\eb61";
}
.fa-angellist:before {
  content: "\eb62";
}
.fa-angrycreative:before {
  content: "\eb63";
}
.fa-angular:before {
  content: "\eb64";
}
.fa-apper:before {
  content: "\eb65";
}
.fa-apple:before {
  content: "\eb66";
}
.fa-apple-pay:before {
  content: "\eb67";
}
.fa-app-store:before {
  content: "\eb68";
}
.fa-app-store-ios:before {
  content: "\eb69";
}
.fa-asymmetrik:before {
  content: "\eb6a";
}
.fa-audible:before {
  content: "\eb6b";
}
.fa-autoprefixer:before {
  content: "\eb6c";
}
.fa-avianex:before {
  content: "\eb6d";
}
.fa-aviato:before {
  content: "\eb6e";
}
.fa-aws:before {
  content: "\eb6f";
}
.fa-bandcamp:before {
  content: "\eb70";
}
.fa-behance:before {
  content: "\eb71";
}
.fa-behance-square:before {
  content: "\eb72";
}
.fa-bimobject:before {
  content: "\eb73";
}
.fa-bitbucket:before {
  content: "\eb74";
}
.fa-bitcoin:before {
  content: "\eb75";
}
.fa-bity:before {
  content: "\eb76";
}
.fa-blackberry:before {
  content: "\eb77";
}
.fa-black-tie:before {
  content: "\eb78";
}
.fa-blogger:before {
  content: "\eb79";
}
.fa-blogger-b:before {
  content: "\eb7a";
}
.fa-bluetooth:before {
  content: "\eb7b";
}
.fa-bluetooth-b:before {
  content: "\eb7c";
}
.fa-btc:before {
  content: "\eb7d";
}
.fa-buromobelexperte:before {
  content: "\eb7e";
}
.fa-buysellads:before {
  content: "\eb7f";
}
.fa-cc-amazon-pay:before {
  content: "\eb80";
}
.fa-cc-amex:before {
  content: "\eb81";
}
.fa-cc-apple-pay:before {
  content: "\eb82";
}
.fa-cc-diners-club:before {
  content: "\eb83";
}
.fa-cc-discover:before {
  content: "\eb84";
}
.fa-cc-jcb:before {
  content: "\eb85";
}
.fa-cc-mastercard:before {
  content: "\eb86";
}
.fa-cc-paypal:before {
  content: "\eb87";
}
.fa-cc-stripe:before {
  content: "\eb88";
}
.fa-cc-visa:before {
  content: "\eb89";
}
.fa-centercode:before {
  content: "\eb8a";
}
.fa-chrome:before {
  content: "\eb8b";
}
.fa-cloudscale:before {
  content: "\eb8c";
}
.fa-cloudsmith:before {
  content: "\eb8d";
}
.fa-cloudversify:before {
  content: "\eb8e";
}
.fa-codepen:before {
  content: "\eb8f";
}
.fa-codiepie:before {
  content: "\eb90";
}
.fa-connectdevelop:before {
  content: "\eb91";
}
.fa-contao:before {
  content: "\eb92";
}
.fa-cpanel:before {
  content: "\eb93";
}
.fa-creative-commons:before {
  content: "\eb94";
}
.fa-css3:before {
  content: "\eb95";
}
.fa-css3-alt:before {
  content: "\eb96";
}
.fa-cuttlefish:before {
  content: "\eb97";
}
.fa-d-and-d:before {
  content: "\eb98";
}
.fa-dashcube:before {
  content: "\eb99";
}
.fa-delicious:before {
  content: "\eb9a";
}
.fa-deploydog:before {
  content: "\eb9b";
}
.fa-deskpro:before {
  content: "\eb9c";
}
.fa-deviantart:before {
  content: "\eb9d";
}
.fa-digg:before {
  content: "\eb9e";
}
.fa-digital-ocean:before {
  content: "\eb9f";
}
.fa-discord:before {
  content: "\eba0";
}
.fa-discourse:before {
  content: "\eba1";
}
.fa-dochub:before {
  content: "\eba2";
}
.fa-docker:before {
  content: "\eba3";
}
.fa-draft2digital:before {
  content: "\eba4";
}
.fa-dribbble:before {
  content: "\eba5";
}
.fa-dribbble-square:before {
  content: "\eba6";
}
.fa-dropbox:before {
  content: "\eba7";
}
.fa-drupal:before {
  content: "\eba8";
}
.fa-dyalog:before {
  content: "\eba9";
}
.fa-earlybirds:before {
  content: "\ebaa";
}
.fa-edge:before {
  content: "\ebab";
}
.fa-elementor:before {
  content: "\ebac";
}
.fa-ember:before {
  content: "\ebad";
}
.fa-empire:before {
  content: "\ebae";
}
.fa-envira:before {
  content: "\ebaf";
}
.fa-erlang:before {
  content: "\ebb0";
}
.fa-ethereum:before {
  content: "\ebb1";
}
.fa-etsy:before {
  content: "\ebb2";
}
.fa-expeditedssl:before {
  content: "\ebb3";
}
.fa-facebook:before {
  content: "\ebb4";
}
.fa-facebook-f:before {
  content: "\ebb5";
}
.fa-facebook-messenger:before {
  content: "\ebb6";
}
.fa-facebook-square:before {
  content: "\ebb7";
}
.fa-firefox:before {
  content: "\ebb8";
}
.fa-firstdraft:before {
  content: "\ebb9";
}
.fa-first-order:before {
  content: "\ebba";
}
.fa-flickr:before {
  content: "\ebbb";
}
.fa-flipboard:before {
  content: "\ebbc";
}
.fa-fly:before {
  content: "\ebbd";
}
.fa-font-awesome:before {
  content: "\ebbe";
}
.fa-font-awesome-alt:before {
  content: "\ebbf";
}
.fa-font-awesome-flag:before {
  content: "\ebc0";
}
.fa-fonticons:before {
  content: "\ebc1";
}
.fa-fonticons-fi:before {
  content: "\ebc2";
}
.fa-fort-awesome:before {
  content: "\ebc3";
}
.fa-fort-awesome-alt:before {
  content: "\ebc4";
}
.fa-forumbee:before {
  content: "\ebc5";
}
.fa-foursquare:before {
  content: "\ebc6";
}
.fa-freebsd:before {
  content: "\ebc7";
}
.fa-free-code-camp:before {
  content: "\ebc8";
}
.fa-get-pocket:before {
  content: "\ebc9";
}
.fa-gg:before {
  content: "\ebca";
}
.fa-gg-circle:before {
  content: "\ebcb";
}
.fa-git:before {
  content: "\ebcc";
}
.fa-github:before {
  content: "\ebcd";
}
.fa-github-alt:before {
  content: "\ebce";
}
.fa-github-square:before {
  content: "\ebcf";
}
.fa-gitkraken:before {
  content: "\ebd0";
}
.fa-gitlab:before {
  content: "\ebd1";
}
.fa-git-square:before {
  content: "\ebd2";
}
.fa-gitter:before {
  content: "\ebd3";
}
.fa-glide:before {
  content: "\ebd4";
}
.fa-glide-g:before {
  content: "\ebd5";
}
.fa-gofore:before {
  content: "\ebd6";
}
.fa-goodreads:before {
  content: "\ebd7";
}
.fa-goodreads-g:before {
  content: "\ebd8";
}
.fa-google:before {
  content: "\ebd9";
}
.fa-google-drive:before {
  content: "\ebda";
}
.fa-google-play:before {
  content: "\ebdb";
}
.fa-google-plus:before {
  content: "\ebdc";
}
.fa-google-plus-g:before {
  content: "\ebdd";
}
.fa-google-plus-square:before {
  content: "\ebde";
}
.fa-google-wallet:before {
  content: "\ebdf";
}
.fa-gratipay:before {
  content: "\ebe0";
}
.fa-grav:before {
  content: "\ebe1";
}
.fa-gripfire:before {
  content: "\ebe2";
}
.fa-grunt:before {
  content: "\ebe3";
}
.fa-gulp:before {
  content: "\ebe4";
}
.fa-hacker-news:before {
  content: "\ebe5";
}
.fa-hacker-news-square:before {
  content: "\ebe6";
}
.fa-hips:before {
  content: "\ebe7";
}
.fa-hire-a-helper:before {
  content: "\ebe8";
}
.fa-hooli:before {
  content: "\ebe9";
}
.fa-hotjar:before {
  content: "\ebea";
}
.fa-houzz:before {
  content: "\ebeb";
}
.fa-html5:before {
  content: "\ebec";
}
.fa-hubspot:before {
  content: "\ebed";
}
.fa-imdb:before {
  content: "\ebee";
}
.fa-instagram:before {
  content: "\ebef";
}
.fa-internet-explorer:before {
  content: "\ebf0";
}
.fa-ioxhost:before {
  content: "\ebf1";
}
.fa-itunes:before {
  content: "\ebf2";
}
.fa-itunes-note:before {
  content: "\ebf3";
}
.fa-jenkins:before {
  content: "\ebf4";
}
.fa-joget:before {
  content: "\ebf5";
}
.fa-joomla:before {
  content: "\ebf6";
}
.fa-js:before {
  content: "\ebf7";
}
.fa-jsfiddle:before {
  content: "\ebf8";
}
.fa-js-square:before {
  content: "\ebf9";
}
.fa-keycdn:before {
  content: "\ebfa";
}
.fa-kickstarter:before {
  content: "\ebfb";
}
.fa-kickstarter-k:before {
  content: "\ebfc";
}
.fa-korvue:before {
  content: "\ebfd";
}
.fa-laravel:before {
  content: "\ebfe";
}
.fa-lastfm:before {
  content: "\ebff";
}
.fa-lastfm-square:before {
  content: "\ec00";
}
.fa-leanpub:before {
  content: "\ec01";
}
.fa-less:before {
  content: "\ec02";
}
.fa-line:before {
  content: "\ec03";
}
.fa-linkedin:before {
  content: "\ec04";
}
.fa-linkedin-in:before {
  content: "\ec05";
}
.fa-linode:before {
  content: "\ec06";
}
.fa-linux:before {
  content: "\ec07";
}
.fa-lyft:before {
  content: "\ec08";
}
.fa-magento:before {
  content: "\ec09";
}
.fa-maxcdn:before {
  content: "\ec0a";
}
.fa-medapps:before {
  content: "\ec0b";
}
.fa-medium:before {
  content: "\ec0c";
}
.fa-medium-m:before {
  content: "\ec0d";
}
.fa-medrt:before {
  content: "\ec0e";
}
.fa-meetup:before {
  content: "\ec0f";
}
.fa-microsoft:before {
  content: "\ec10";
}
.fa-mix:before {
  content: "\ec11";
}
.fa-mixcloud:before {
  content: "\ec12";
}
.fa-mizuni:before {
  content: "\ec13";
}
.fa-modx:before {
  content: "\ec14";
}
.fa-monero:before {
  content: "\ec15";
}
.fa-napster:before {
  content: "\ec16";
}
.fa-nintendo-switch:before {
  content: "\ec17";
}
.fa-node:before {
  content: "\ec18";
}
.fa-node-js:before {
  content: "\ec19";
}
.fa-npm:before {
  content: "\ec1a";
}
.fa-ns8:before {
  content: "\ec1b";
}
.fa-nutritionix:before {
  content: "\ec1c";
}
.fa-odnoklassniki:before {
  content: "\ec1d";
}
.fa-odnoklassniki-square:before {
  content: "\ec1e";
}
.fa-opencart:before {
  content: "\ec1f";
}
.fa-openid:before {
  content: "\ec20";
}
.fa-opera:before {
  content: "\ec21";
}
.fa-optin-monster:before {
  content: "\ec22";
}
.fa-osi:before {
  content: "\ec23";
}
.fa-page4:before {
  content: "\ec24";
}
.fa-pagelines:before {
  content: "\ec25";
}
.fa-palfed:before {
  content: "\ec26";
}
.fa-patreon:before {
  content: "\ec27";
}
.fa-paypal:before {
  content: "\ec28";
}
.fa-periscope:before {
  content: "\ec29";
}
.fa-phabricator:before {
  content: "\ec2a";
}
.fa-phoenix-framework:before {
  content: "\ec2b";
}
.fa-php:before {
  content: "\ec2c";
}
.fa-pied-piper:before {
  content: "\ec2d";
}
.fa-pied-piper-alt:before {
  content: "\ec2e";
}
.fa-pied-piper-pp:before {
  content: "\ec2f";
}
.fa-pinterest:before {
  content: "\ec30";
}
.fa-pinterest-p:before {
  content: "\ec31";
}
.fa-pinterest-square:before {
  content: "\ec32";
}
.fa-playstation:before {
  content: "\ec33";
}
.fa-product-hunt:before {
  content: "\ec34";
}
.fa-pushed:before {
  content: "\ec35";
}
.fa-python:before {
  content: "\ec36";
}
.fa-qq:before {
  content: "\ec37";
}
.fa-quinscape:before {
  content: "\ec38";
}
.fa-quora:before {
  content: "\ec39";
}
.fa-ravelry:before {
  content: "\ec3a";
}
.fa-react:before {
  content: "\ec3b";
}
.fa-rebel:before {
  content: "\ec3c";
}
.fa-reddit:before {
  content: "\ec3d";
}
.fa-reddit-alien:before {
  content: "\ec3e";
}
.fa-reddit-square:before {
  content: "\ec3f";
}
.fa-red-river:before {
  content: "\ec40";
}
.fa-rendact:before {
  content: "\ec41";
}
.fa-renren:before {
  content: "\ec42";
}
.fa-replyd:before {
  content: "\ec43";
}
.fa-resolving:before {
  content: "\ec44";
}
.fa-rocketchat:before {
  content: "\ec45";
}
.fa-rockrms:before {
  content: "\ec46";
}
.fa-safari:before {
  content: "\ec47";
}
.fa-sass:before {
  content: "\ec48";
}
.fa-schlix:before {
  content: "\ec49";
}
.fa-scribd:before {
  content: "\ec4a";
}
.fa-searchengin:before {
  content: "\ec4b";
}
.fa-sellcast:before {
  content: "\ec4c";
}
.fa-sellsy:before {
  content: "\ec4d";
}
.fa-servicestack:before {
  content: "\ec4e";
}
.fa-shirtsinbulk:before {
  content: "\ec4f";
}
.fa-simplybuilt:before {
  content: "\ec50";
}
.fa-sistrix:before {
  content: "\ec51";
}
.fa-skyatlas:before {
  content: "\ec52";
}
.fa-skype:before {
  content: "\ec53";
}
.fa-slack:before {
  content: "\ec54";
}
.fa-slack-hash:before {
  content: "\ec55";
}
.fa-slideshare:before {
  content: "\ec56";
}
.fa-snapchat:before {
  content: "\ec57";
}
.fa-snapchat-ghost:before {
  content: "\ec58";
}
.fa-snapchat-square:before {
  content: "\ec59";
}
.fa-soundcloud:before {
  content: "\ec5a";
}
.fa-speakap:before {
  content: "\ec5b";
}
.fa-spotify:before {
  content: "\ec5c";
}
.fa-stack-exchange:before {
  content: "\ec5d";
}
.fa-stack-overflow:before {
  content: "\ec5e";
}
.fa-staylinked:before {
  content: "\ec5f";
}
.fa-steam:before {
  content: "\ec60";
}
.fa-steam-square:before {
  content: "\ec61";
}
.fa-steam-symbol:before {
  content: "\ec62";
}
.fa-sticker-mule:before {
  content: "\ec63";
}
.fa-strava:before {
  content: "\ec64";
}
.fa-stripe:before {
  content: "\ec65";
}
.fa-stripe-s:before {
  content: "\ec66";
}
.fa-studiovinari:before {
  content: "\ec67";
}
.fa-stumbleupon:before {
  content: "\ec68";
}
.fa-stumbleupon-circle:before {
  content: "\ec69";
}
.fa-superpowers:before {
  content: "\ec6a";
}
.fa-supple:before {
  content: "\ec6b";
}
.fa-telegram:before {
  content: "\ec6c";
}
.fa-telegram-plane:before {
  content: "\ec6d";
}
.fa-tencent-weibo:before {
  content: "\ec6e";
}
.fa-themeisle:before {
  content: "\ec6f";
}
.fa-trello:before {
  content: "\ec70";
}
.fa-tripadvisor:before {
  content: "\ec71";
}
.fa-tumblr:before {
  content: "\ec72";
}
.fa-tumblr-square:before {
  content: "\ec73";
}
.fa-twitch:before {
  content: "\ec74";
}
.fa-twitter:before {
  content: "\ec75";
}
.fa-twitter-square:before {
  content: "\ec76";
}
.fa-typo3:before {
  content: "\ec77";
}
.fa-uber:before {
  content: "\ec78";
}
.fa-uikit:before {
  content: "\ec79";
}
.fa-uniregistry:before {
  content: "\ec7a";
}
.fa-untappd:before {
  content: "\ec7b";
}
.fa-usb:before {
  content: "\ec7c";
}
.fa-ussunnah:before {
  content: "\ec7d";
}
.fa-vaadin:before {
  content: "\ec7e";
}
.fa-viacoin:before {
  content: "\ec7f";
}
.fa-viadeo:before {
  content: "\ec80";
}
.fa-viadeo-square:before {
  content: "\ec81";
}
.fa-viber:before {
  content: "\ec82";
}
.fa-vimeo:before {
  content: "\ec83";
}
.fa-vimeo-square:before {
  content: "\ec84";
}
.fa-vimeo-v:before {
  content: "\ec85";
}
.fa-vine:before {
  content: "\ec86";
}
.fa-vk:before {
  content: "\ec87";
}
.fa-vnv:before {
  content: "\ec88";
}
.fa-vuejs:before {
  content: "\ec89";
}
.fa-weibo:before {
  content: "\ec8a";
}
.fa-weixin:before {
  content: "\ec8b";
}
.fa-whatsapp:before {
  content: "\ec8c";
}
.fa-whatsapp-square:before {
  content: "\ec8d";
}
.fa-whmcs:before {
  content: "\ec8e";
}
.fa-wikipedia-w:before {
  content: "\ec8f";
}
.fa-windows:before {
  content: "\ec90";
}
.fa-wordpress:before {
  content: "\ec91";
}
.fa-wordpress-simple:before {
  content: "\ec92";
}
.fa-wpbeginner:before {
  content: "\ec93";
}
.fa-wpexplorer:before {
  content: "\ec94";
}
.fa-wpforms:before {
  content: "\ec95";
}
.fa-xbox:before {
  content: "\ec96";
}
.fa-xing:before {
  content: "\ec97";
}
.fa-xing-square:before {
  content: "\ec98";
}
.fa-yahoo:before {
  content: "\ec99";
}
.fa-yandex:before {
  content: "\ec9a";
}
.fa-yandex-international:before {
  content: "\ec9b";
}
.fa-y-combinator:before {
  content: "\ec9c";
}
.fa-yelp:before {
  content: "\ec9d";
}
.fa-yoast:before {
  content: "\ec9e";
}
.fa-youtube:before {
  content: "\ec9f";
}
.fa-youtube-square:before {
  content: "\eca0";
}
.fa-user-tie:before {
  content: "\eca1";
}
.fa-shipment:before {
  content: "\eca2";
}
.fa-reports:before {
  content: "\eca3";
}
