// Fonts
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:400,300,600,700|Cairo");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";

$simple-line-font-path: "/fonts/vendor/simple-line-icons/";
@import "~simple-line-icons/scss/simple-line-icons";
@import "./plugins/step-form-wizard";
//@import "~slick-carousel/slick/slick";
@import "~octicons/index";
@import "~weather-icons/css/weather-icons.min.css";
@import "~ladda/css/ladda-themed";
@import "~daterangepicker/daterangepicker.css";
@import "~bootstrap-select/sass/bootstrap-select";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
//@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "~bootstrap-slider/src/sass/bootstrap-slider";
@import "plugins/summernote-icons";
@import "~summernote/src/less/summernote-bs4";
@import "~jquery.rateit/scripts/rateit.css";
@import "~select2/src/scss/core";
@import "~@ttskch/select2-bootstrap4-theme/src/layout";
@import "plugins/select2";
@import "../kangarooIcons/style.css";
@import "~paper-css/paper.css";
@import "~timepicker/jquery.timepicker.css";


// template style
@import "main";
@import "theme";
@import "mailing-demo";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bootstrap-select .dropdown-toggle.btn-default {
  background-color: #FFF;
  border: 1px solid #ECEDEE;
}

.select2-container--bootstrap4 {
  background-color: #fff;

  &.select2-container--disabled {
    background-color: #e9ecef;

    .select2-selection {
      cursor: default;
    }

    &.select2-container--focus {
      .select2-selection {
        border-color: #ced4da;
        box-shadow: none;
      }
    }
  }

  .select2-dropdown {
    margin-top: -3px;
  }
}

.print-layout {
  .main-content {
    margin: 0;
  }

  .print-tools {
    padding: .5rem;
    margin: 0 auto;
    background-color: rgba(220, 220, 220, .75);
    border-radius: 0 0 .5rem .5rem;
  }
}

@include media-breakpoint-down('sm') {
  .drp-calendar.right {
    display: none !important;
  }
}

.shipments-print {
  .table {
    margin-bottom: 0;
    table-layout: fixed;
  }

  th, td {
    padding: .5rem .75rem;
    vertical-align: middle;
  }
  .divider {
    font-weight: bold;
    text-align: center;
    background-color: $light;
    border-bottom: 3px solid #ddd;
    padding-top: 1.5rem;
  }

  .shipment-client_name {
    font-size: 1.5rem;
  }
}

.coc {
  &-title {
    font-weight: 600;
    text-align: center;
    margin-bottom: .5rem;
  }

  &-body {
    font-size: .6rem;
    column-count: 2;
    line-height: 1.1;

    p {
      line-height: 1.1;
      margin-bottom: 0;
    }

    ol {
      list-style-position: inside;
    }

    li {
      margin: .2rem 0;
    }

    b {
      margin-bottom: .2rem;
      display: inline-block;
    }
  }
}

.note-popover {
  display: none;
}