.container-fluid, .container {
  max-width: none;
  width: 100%;
}
@page {
  margin: 5%;
}

.invoice-table thead th {
  background-color: #aaa;
}

.shipments-print {
  td {
    vertical-align: middle;
  }
}