.page-heading {
  .breadcrumb {
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    background-color: #dadde5;
    border-radius: 0;
    &-item {
      color: #fff;
      a {
        color: #666;
      }
    }
  }
  &.sticky {
    position: sticky;
    top: 17px;
    z-index: 88;
  }
  & &__title {
    background-color: #eaeaf1;
    color: #222328;
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    @include media-breakpoint-down('sm') {
      flex-direction: column;
    }
    h3 {
      margin: 0;
      padding: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
      text-transform: capitalize;
      [data-fa-i2svg] {
        color: $brand;
      }
    }

  }
  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0 0.25rem;
    flex-wrap: wrap-reverse;
    @include media-breakpoint-down('sm') {
      margin: 0.75rem 0.2rem 0;
    }
    > .btn, > .btn-group {
      margin-right: 0.5rem;
      @include media-breakpoint-down('sm') {
        margin-bottom: 0.75rem;
      }
    }
    .btn, .dropdown-item {
      i + span {
        margin-left: 0.5rem;

      }
    }
  }
}
.alert ul {
  margin-left: 1rem;
}
.title-warning {
  font-size: 12px;
  background-color: $warning;
  color: darken($warning, 35);
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  vertical-align: middle;
}
.main-content {
  margin-left: 240px;
  background: #F5F5F5;
  margin-top: 50px;
  overflow: visible;
  position: relative;
  min-height: 80vh;

  .page-content {
    .panel {
      .panel-header {
        h2 {
          color: #5b5b5b;
          display: block;
          font-family: 'Lato';
          font-size: 24px;
          font-weight: 100;
          line-height: normal;
          margin-bottom: 5px;
          margin-top: 7px;
          text-transform: uppercase;
        }
        display: block;
        height: auto;
        padding: 6px 15px 6px 18px;
        h3 {
          display: block;
          font-family: 'Lato', 'Open Sans', sans-serif;
          font-size: 15px;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 10px;
          margin-top: 10px;
          text-transform: uppercase;
        }
        &:hover {
          .control-btn {
            > a {
              background: none !important;
              color: #909090 !important;
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -o-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              transition: all 0.4s ease;
            }
          }
        }
        .control-btn {
          > a {
            .icon-size-fullscreen {
              &:before {
                display: inline-block;
                width: 14px;
              }
            }
          }
          .btn-group {
            > a {
              color: #cccccc !important;
              cursor: pointer;
              margin-left: 11px;
              margin-right: 0px;
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -o-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              transition: all 0.4s ease;
            }
          }
        }
      }
      background: #ffffff;
      border-radius: 0;
      border: 1px solid #E2E2E2;
      border: none;
      color: #5b5b5b;
      margin-bottom: 20px;
      min-height: 30px;
      position: relative;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
      }
      .panel-content {
        h1 {
          font-family: 'Lato';
          font-weight: 100;
          font-size: 28px;
          margin-top: 0;
        }
        ul {
          padding-left: 0;
        }
        ol {
          padding-left: 0;
        }
        i {
          padding-left: 0;
          padding-right: 6px;
        }
        .btn {
          i {
            padding-right: 0;
          }
        }
      }
      .panel-header[class*="bg-"] {
        h2 {
          color: #ffffff;
        }
      }
      .control-btn {
        display: inline-block !important;
        position: absolute;
        right: 13px;
        top: 14px;
        z-index: 2;
        .dropdown-menu {
          z-index: 2;
        }
        > a.nevershow {
          display: none !important;
        }
        > a {
          color: #cccccc !important;
          cursor: pointer;
          margin-left: 11px;
          margin-right: 0px;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          transition: all 0.4s ease;
          &:hover {
            text-decoration: none;
            text-decoration: none !important;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            transition: all 0.4s ease;
          }
          &:focus {
            text-decoration: none !important;
          }
        }
      }
      .left-toolbar {
        left: 13px;
        position: absolute;
        top: 10px;
        z-index: 2;
      }
      &:hover {
        .control-btn {
          > a.hidden {
            display: inline-block !important;
            visibility: visible !important;
          }
          > a.hidden.nevershow {
            display: none !important;
          }
        }
      }
      table {
        .btn-group {
          z-index: 1;
          z-index: initial;
        }
      }
      .panel-close {
        font-size: 15px;
        &:hover {
          color: #EB5055 !important;
        }
      }
      .panel-header.header-line {
        &:before {
          background: rgba(0, 0, 0, 0.1);
          bottom: 0;
          content: "";
          height: 1px;
          left: 16px;
          position: absolute;
          right: 16px;
        }
      }
      .panel-title {
        display: inline-block;
        font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 100;
        margin: 5px;
        padding: 0;
      }
      .panel-footer.footer-line {
        background-color: #ffffff;
        &:before {
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          content: "";
          height: 1px;
          left: 0;
          position: relative;
          right: 0;
          top: -10px;
          width: 100%;
        }
      }
      .panel-footer {
        background-color: #F4F4F4;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid #E2E2E2;
        border-top: 1px solid #E2E2E2;
        border-top: none;
        padding: 10px 15px;
        .btn {
          margin-bottom: 0;
        }
      }
      .stat-num {
        font-size: 36px;
        font-weight: bold;
      }
      .bg-aero {
        h2 {
          color: #5b5b5b !important;
        }
        h3 {
          color: #5b5b5b !important;
        }
      }
      .bg-gray-light {
        h2 {
          color: #5b5b5b !important;
        }
        h3 {
          color: #5b5b5b !important;
        }
      }
      .bg-blue-light {
        h2 {
          color: #5b5b5b !important;
        }
        h3 {
          color: #5b5b5b !important;
        }
      }
      .action-btn {
        display: inline-block !important;
        position: absolute;
        right: 13px;
        top: 14px;
        z-index: 2;
      }
      .control-btn.add-control-btn {
        display: block !important;
      }
    }
    .panel[class^='bg-'] {
      h2 {
        color: #ffffff !important;
        color: #ffffff !important;
      }
      h3 {
        color: #ffffff !important;
        color: #ffffff !important;
      }
    }
    .panel[class*=' {
			bg-'] {
      h2 {
        color: #ffffff !important;
        color: #ffffff !important;
      }
      h3 {
        color: #ffffff !important;
        color: #ffffff !important;
      }
    }
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
    text-transform: uppercase;
  }
  &::after {
    clear: both;
    content: '';
    display: block;
  }
  .row-sm[class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-xs[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .colors-list {
    height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      background: #000000;
      display: inline-block;
      filter: alpha(opacity=60);
      float: left;
      height: 20px;
      margin: 4px;
      opacity: .6;
      padding: 0;
      width: 20px;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        cursor: pointer;
        filter: alpha(opacity=100);
        opacity: 1;
      }
    }
    > li.active {
      filter: alpha(opacity=100);
      height: 26px;
      margin-top: 0;
      opacity: 1;
      width: 26px;
    }
    > li.white {
      background: #ffffff;
      border: 1px solid #BFBFBF;
    }
    > li.primary {
      background: #319db5;
    }
    > li.dark {
      background: #2B2E33;
    }
    > li.red {
      background: #C9625F;
    }
    > li.green {
      background: #18a689;
    }
    > li.blue {
      background: #319DB5;
    }
    > li.aero {
      background: #B9D5DB;
    }
    > li.gray {
      background: #82848A;
    }
    > li.gray-light {
      background: #F4F4F4;
    }
    > li.orange {
      background: #F2A057;
    }
    > li.yellow {
      background: #ffcc00;
    }
    > li.pink {
      background: #DC88E6;
    }
    > li.purple {
      background: #A58BD3;
    }
  }
  .colors-list.color-full {
    > li {
      border: 1px solid #5A5A5A;
    }
  }
  .panel.panel-transparent {
    -webkit-box-shadow: none;
    background: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    .panel-content {
      padding: 0;
    }
  }
  .portlets.ui-sortable {
    z-index: 2;
    .panel-header {
      cursor: move;
    }
  }
  .panel.bg-aero {
    .panel-content {
      color: #5b5b5b !important;
    }
    h1 {
      color: #5b5b5b !important;
    }
    h2 {
      color: #5b5b5b !important;
    }
    h3 {
      color: #5b5b5b !important;
    }
  }
  .panel[class*='bg-'].control-btn {
    > a {
      color: #ffffff !important;
      opacity: 0.8;
    }
  }
  .panel[class*='bg-'].panel-header {
    &:hover {
      .control-btn {
        > a {
          opacity: 1;
        }
      }
    }
  }
  .panel-content {
    padding: 20px 20px 10px 20px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      margin-bottom: 15px;
      margin-top: 25px;
      text-transform: uppercase;
    }
  }
  .panel-transparent {
    .panel-header {
      border: none !important;
    }
    .panel-content {
      border: none !important;
    }
    .panel-footer {
      border: none !important;
    }
  }
  .panel-placeholder {
    background-color: #DFE1E4 !important;
    border: 1px dashed #b6bcbf;
    margin-bottom: 20px;
    visibility: visible !important;
  }
  .panel.maximized {
    border-top: 1px solid #E8E8E8;
    left: 240px;
    margin: 0px;
    padding-top: 10px;
    bottom: 0px;
    left: 0;
    position: absolute;
    right: 0px;
    min-height: 300px;
    top: 50px;
    z-index: 11;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .panel-default {
    > .panel-heading {
      border-bottom: none;
    }
    border-color: #E8E8E8;
  }
  .sortable {
    .panel-header {
      cursor: move;
    }
  }
  .panel-header {
    i {
      padding-right: 6px;
    }
    h3 {
      margin: 0;
    }
  }
  .panel-stat {
    border: none;
    overflow: hidden;
    position: relative;
    h1 {
      color: #121212;
    }
    .stat-title {
      color: #121212;
      opacity: 0.7;
      text-transform: uppercase;
    }
    .icon {
      bottom: 45px;
      color: rgba(0, 0, 0, 0.1);
      font-size: 100px;
      line-height: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 5px;
      vertical-align: bottom;
      z-index: 1;
    }
    .bg-dark {
      .icon {
        color: rgba(255, 255, 255, 0.1);
      }
    }
    .big-icon {
      i {
        display: inline-block;
        font-size: 53px;
        margin-top: 8px;
        opacity: 0.3;
      }
    }
    .col-xs-6 {
      &:last-child {
        text-align: right;
      }
    }
    > [class*="bg-"] {
      h1 {
        color: #ffffff;
      }
      h3 {
        color: #ffffff;
      }
    }
  }
  .panel-stat[class*="bg-"].stat-title {
    color: #ffffff;
  }
  .panel-stat-chart {
    margin-bottom: -10px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -20px;
    position: relative;
  }
  #visitors-chart {
    bottom: 0;
    left: 0;
    position: absolute;
  }
  .breadcrumb-wrapper {
    position: absolute;
    right: 0;
    top: 23px;
    .label {
      color: #999999;
      display: inline-block;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  /*.breadcrumb {
    background: none;
    display: inline-block;
    padding: 0;
    li {
      font-family: 'Lato', arial, sans-serif;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      a {
        color: #319DB5;
      }
    }
    li.active {
      color: #333333;
    }
    > li {
      + {
        li {
          &:before {
            color: #cccccc;
            content: "\2022";
            padding: 0 8px 0 5px;
          }
        }
      }
    }
  }*/
  > .header {
    padding: 15px 0;
    position: relative;
    h2 {
      color: #1D2939;
      font-family: 'Lato';
      font-size: 28px;
      letter-spacing: -0.5px;
      margin: 0;
      padding-bottom: 7px;
      font-weight: 100;
      span {
        color: #999999;
        font-size: 13px;
        font-style: italic;
        letter-spacing: 0;
        text-transform: none;
        vertical-align: middle;
        &::before {
          color: #cccccc;
          content: '/';
          margin: 0 10px 0 5px;
        }
      }
    }
    .glyphicon {
      font-size: 24px;
      margin-right: 5px;
      opacity: 0.5;
      padding: 6px 7px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
    }
    i {
      font-size: 24px;
      margin-right: 5px;
      opacity: 0.5;
      padding: 6px 7px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
    }
    icon-logoutbefore {
      bottom: -4px;
      display: inline-block;
      font-size: 28px;
      position: relative;
    }
  }
  > div {
    > .header {
      padding: 15px 0;
      position: relative;
      h2 {
        color: #1D2939;
        font-family: 'Lato';
        font-size: 28px;
        letter-spacing: -0.5px;
        margin: 0;
        padding-bottom: 7px;
        font-weight: 100;
        span {
          color: #999999;
          font-size: 13px;
          font-style: italic;
          letter-spacing: 0;
          text-transform: none;
          vertical-align: middle;
          &::before {
            color: #cccccc;
            content: '/';
            margin: 0 10px 0 5px;
          }
        }
      }
      .glyphicon {
        font-size: 24px;
        margin-right: 5px;
        opacity: 0.5;
        padding: 6px 7px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
      }
      i {
        font-size: 24px;
        margin-right: 5px;
        opacity: 0.5;
        padding: 6px 7px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
      }
      icon-logoutbefore {
        bottom: -4px;
        display: inline-block;
        font-size: 28px;
        position: relative;
      }
    }
    > .footer {
      bottom: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 20px;
      padding-bottom: 15px;
      .copyright {
        border-top: 1px solid rgba(12, 12, 12, 0.07);
        padding: 20px 0;
        z-index: 15;
        p {
          margin-bottom: 10px;
        }
        a {
          color: #2C8CA0;
        }
        span {
          font-size: 88%;
          opacity: 0.8;
        }
        span.copyright {
          font-family: 'Open Sans';
        }
      }
    }
    > .footer.footer-absolute {
      left: 50px;
      margin-left: 0;
      margin-right: 0;
      position: absolute;
      right: 50px;
    }
  }
  > .footer {
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 15px;
    .copyright {
      border-top: 1px solid rgba(12, 12, 12, 0.07);
      padding: 20px 0;
      z-index: 15;
      p {
        margin-bottom: 10px;
      }
      a {
        color: #2C8CA0;
      }
      span {
        font-size: 88%;
        opacity: 0.8;
      }
      span.copyright {
        font-family: 'Open Sans';
      }
    }
  }
  > .footer.footer-absolute {
    left: 50px;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    right: 50px;
  }
  .panel-footer {
    h2 {
      margin: 0;
    }
    h3 {
      margin: 0;
    }
  }
}

.page-content[class^='bg-'].panel {
  h1 {
    color: #ffffff !important;
    color: #ffffff !important;
  }
  h2 {
    color: #ffffff !important;
    color: #ffffff !important;
  }
  h3 {
    color: #ffffff !important;
    color: #ffffff !important;
  }
}

.page-content[class*='bg-'].panel {
  h1 {
    color: #ffffff !important;
    color: #ffffff !important;
  }
  h2 {
    color: #ffffff !important;
    color: #ffffff !important;
  }
  h3 {
    color: #ffffff !important;
    color: #ffffff !important;
  }
}

.page-content.page-thin {
  padding: 25px 0 75px;
  .row {
    margin-left: -5px;
    margin-right: -5px;
    > [class^="col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &.page-builder {
    padding-left: 50px;
    padding-right: 50px;
  }

}

.page-content[class*='bg-'].panel-header {
  .control-btn {
    .btn-group {
      > a {
        color: #ffffff !important;
        opacity: 0.8;
      }
    }
  }
}

.page-content[class*='bg-'].panel {
  .panel-header {
    &:hover {
      .control-btn {
        > a {
          opacity: 1;
        }
      }
    }
  }
}

.footer {
  margin-left: 50px;
  margin-right: 50px;
  .copyright {
    border-top: 1px solid rgba(12, 12, 12, 0.07);
    padding: 20px 0;
    z-index: 15;
    p {
      margin-bottom: 10px;
    }
    a {
      color: #2C8CA0;
    }
    span {
      font-size: 88%;
      opacity: 0.8;
    }
    span.copyright {
      font-family: 'Open Sans';
    }
  }
}

.page-content.page-editors {
  > .header {
    h2 {
      span {
        color: #1D2939;
        font-size: 28px;
        font-style: normal;
        letter-spacing: -0.5px;
        padding-bottom: 7px;
        &::before {
          content: none;
        }
      }
    }
    p {
      font-size: 16px;
      height: 20px;
    }
  }
  #cke-inline {
    p {
      font-size: 17px;
      line-height: 30px;
    }
  }
}

.page-wizard.page-content {
  background: #F5F5F5 !important;
}

.page-content.page-builder {
  margin-top: 120px;
  background: #ffffff;
  .header {
    position: relative;
  }
  .breadcrumb-wrapper {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.page-content.email-builder {
  padding-right: 260px;
}

.page-content.frontend-builder {
  padding-right: 260px;
}

.delete-form {
  display: none;
}