$border-color: rgba(black, .3);

#timeline {
  margin-top: 2.25rem;
  .timeline-item {
    padding: .75em 2em 3em;
    position: relative;
    color: rgba(black, .7);
    border-left: 2px solid $border-color;
    &.highlight {
      background-color: #eee;
      p.border {
        border-color: #ff0081 !important;
        border-width: 2px !important;
      }
    }

    p {
      font-size: 1rem;
    }


    &::after {
      width: 10px;
      height: 10px;
      display: block;
      top: 1em;
      position: absolute;
      left: -7px;
      border-radius: 10px;
      content: '';
      border: 2px solid $border-color;
      background: white;
    }

    &:last-child {
      border-image: linear-gradient(
                      to bottom,
                      $border-color 60%,
                      rgba($border-color, 0)) 1 100%;
    }
  }
}